// Note: Installed scss with homebrew
// Compile scss into css with cli command: $ sass style.scss style.css
// Add --watch flag to watch for changes: $ sass --watch style.scss style.css

* {
  margin: 0;
  padding: 0;
}

$color-primary: #f9ed69; // yellow
$color-secondary: #f08a5d; // orange
$color-tertiary: #b83b5e; // pink
$color-text-dark: #333;
$color-text-light: #eee;

$button-width: 150px;

nav {
  margin: 30px;
  background-color: $color-primary;

  // .clearfix
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* Note: This is the clearfix solution, which we can put in the nav{} selector */
//.clearfix::after {
//  content: "";
//  clear: both;
//  display: table;
//}


/* Note: Check the compiled css to see what it is equivalent to */
.navigation {
  list-style: none;
  /* Note: When we put in float: left; All the child elements inherit this and float too */
  /* This makes the elements collapse and they lose their height. Use the .clearfix method to solve this float issue */
  float: left;

  li {
    display: inline-block;
    margin-left: 30px;

    &:first-child {
      margin: 0;
    }

    a:link {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-text-dark;
    }
  }
}
// .navigation li:first-child

.buttons {
  float: right;
}

.btn--main,
.btn--hot {
  padding: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  width: $button-width;
  color: $color-text-light;
}

.btn--main {
  background-color: $color-secondary;

  /* Note: sass darken() & lighten() functions are useful */
  &:hover {
    background-color: darken($color-secondary, 10%);
  }
}

.btn--hot {
  background-color: $color-tertiary;

  &:hover {
    background-color: darken($color-tertiary, 10%);
  }
}