/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/*
Basic Reset

*/

* {
    /* Some browsers add margin and padding to headings */
    margin: 0;
    padding: 0;
    /* Border is included in width and height of element */
    box-sizing: border-box;
}

body {
    font-family: "Lato", SansSerif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image:
        linear-gradient(
            to right bottom,
            rgba(126, 213, 111, 0.75),
            rgba(40, 180, 133, 0.75)
        ),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    /* Create a polygon (order doesn't matter, all points are relative */
    /* polygon (x y, x y, x y, x y) - (top left, move 100% in x direction, move down 200px fully right (100%)) */
    /* 0 0 is top left, 100% moves it over to end of element */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    /* absolute position in terms of parent element. Parent element needs to have a relative position */
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    /* Note: the top/left %'s relate to the parent element (moves the start of the element to ~centre of screen) */
    top: 40%;
    left: 50%;
    /* Note: transform percentages relate to the element itself. This adjusts the element 50% back and up */
    transform: translate(-50%, -50%);
    text-align: center;
}

.primary-heading {
    color: white;
    text-transform: uppercase;

    /* Note: This backface visibility hide the back of an element (usually when it's rotating)
    but also fixes a shaking bug at the end of an animation - I didn't see it so have left it out (maybe fixed?) */
    /*backface-visibility: hidden;*/
    margin-bottom: 60px;
}

.primary-heading--main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    /* Note: ease-out - animation ends slower */
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

.primary-heading--sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 15px;

    /* Note: Can use the shorthand animation to specify each of the animations */
    animation: moveInRight 1.5s ease-out;
}

/* Note: @keyframes is a more advanced animation than transition */
/* Can state at what point (percentage way through the animation) you want things to happen */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    98% {
        transform: translateX(1%);
    }

    100% {
        opacity: 1;
        /* set it back to original position at the end */
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    98% {
        transform: translateX(-1%);
    }

    100% {
        opacity: 1;
        /* set it back to original position at the end */
        transform: translateX(0);
    }
}

/* Note: Colon for pseudo-element. :link for links that have not yet been visited */
/* over-writing standard blue links for visited links too */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    /* Inline-block gives a bit of padding to element (uses box model?) */
    display: inline-block;
    border-radius: 100px;
    /* Transition needs to be on initial state to apply to all subsequent pseudo states */
    transition: all 0.2s;
}

.btn:hover {
    /* Down direction is positive on y-axis. (content goes top to bottom) */
    transform: translateY(-3px);
    /* black and 20% opacity for shadow */
    box-shadow: 0 10px 20px rgba(0,0,0, 0.2);
}

.btn:active {
    /* translation is always related to position of initial state (btn:link in this case) */
    transform: translateY(-1px);
    box-shadow: 0 5px 10px; rgba(0,0,0, 0.2);
}

.btn--white {
    background-color: white;
    color: #777;
}
